# Python 
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/

# Coverage
.coverage
coverage.xml

# Poetry
poetry.lock

# Terraform
.terraform/
build/
.terraform.lock.hcl
terraform.tfstate*
terraform.tfvars

# VS Code
.vscode/